{% extends "urpsm/v2/base_manager_v2.html" %}
{% load static from staticfiles %}{% load i18n%}
{% block title %} {% trans 'notifications'|capfirst %} {% endblock %}
{% block heading %} {% trans 'notifications'|capfirst %} {% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.min.js"></script>
{% endblock %}

{% block content %}
<section class="content">

<div class="row">

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{% trans 'orders notifications'|capfirst %}</h3>
               <a type="button" href="{%url 'notifications-hub' %}" class="btn btn-primary {{PULL_DIRECTION}}">Back to notifications</a>
            </div>
            <div class="box-body table-responsive">
              <table class="table table-hover table-bordered">
                <tbody><tr>
                  <th>{% trans 'order ref'|capfirst %}</th>
                  <th>{% trans 'imei'|capfirst %}</th>
                  <th>{% trans 'messsage'|capfirst %}</th>
                  <th>{% trans 'order status'|capfirst %}</th>
                  <th>{% trans 'created'|capfirst %}</th>
                  <th>{% trans 'deliver time'|capfirst %}</th>
                  <th>{% trans 'read'|capfirst %}</th>
                </tr>
                {% for notification in notifications%}
                <tr>
                  <td>{{notification.server_order.ref}}</td>
                  <td data-toggle="modal" data-target="#modal-{{notification.pk}}">{{notification.server_order.imei}}</td>
                  <td data-toggle="modal" data-target="#modal-{{notification.pk}}">{{notification}}</td>
                  <td><span class="label red-light-background">{{notification.server_order.status}}</span></td>
                  <td>{{notification.server_order.created}}</td>
                  <td>{{notification.server_order.delivery_time}}</td>
                  <td id="unread-{{notification.id}}" class="{% if notification.is_read %}ico-readed{% else %}ico-unreaded{% endif %}" onclick="markread('{{notification.id}}')">
                     <span class="fa fa-envelope{% if this %}-open{% endif %}-o"></span>
                  </td>
                  <div class="modal fade" id="modal-{{notification.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Subject title</h4>
                        </div>
                        <div class="modal-body">
                            <p class="lead">Message:</p>
                            <p class="text-muted well well-sm no-shadow">
                              {{ notification }}
                            </p>
                            <p>
      <label for="input-{{notification.pk}}" class="control-label">Shop Rating</label>
      <input id="input-{{notification.pk}}" name="input-{{notification.pk}}" value="{{notification.server_order.shop.average_rating}}" class="rating-loading">
    <label for="input-s-{{notification.pk}}" class="control-label">Server Rating</label>
                            <input id="input-s-{{notification.pk}}" name="input-s-{{notification.pk}}" value="{{notification.server_order.server.average_rating}}" class="rating-loading">
                        </p><script>
$(document).on('ready', function(){
    $('#input-{{notification.pk}}').rating({displayOnly: true, step: 0.5});
    $('#input-s-{{notification.pk}}').rating({displayOnly: true, step: 0.5});
});
</script></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {%endfor%}
                
              </tbody></table>
            </div>
            {% if is_paginated%}
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">»</a></li>
              {% endif %}
              </ul>
            </div>
            {% endif %}
          </div>
          <!-- /.box -->
      </div>
      </div>
  </section>
{%endblock%}
{% block extrajs %}
<script>
function markread(id){

$.post('{% url 'markread' %}',
    {
        notif_id: id
    },
    function(data, status){

    $('#unread-'+id).removeClass('ico-unreaded').addClass('ico-readed');

    });

}
</script>
{% endblock %}