{%extends 'urpsm/v2/public/base_v3.html' %}

    {% load static from staticfiles %}
    {% load i18n %}
    {% block extraheadjs %}
    {% endblock extraheadjs %}
    {% block keywords %}unlocked cell phones,unlocked mobile phones,unlocked smartphones,cheap unlocked phones,phone unlock,unlock my phone,best unlocked phones,cheap unlocked mobile phones,cheap phones unlocked{% endblock %}
{% block metatitle %}Levels | Mobile Repair and Unlock Server Services | URPSM{% endblock %}
{% block description %}UPRSM has a different level of mobile repair services. Please Visit our website and read more about all of our Level.www.urpsm.com/. Visit today for more information{% endblock %}


    {% block main_page %}
         <div class="page-title-container urpsm-h">
            <div class="container">
                <ul class="breadcrumbs pull-right">
                    <li class="impo"><a href="#">{% trans 'home'|title %}</a></li>
                    <li class="active impo">{% trans 'levels'|title %}</li>
                </ul>
            </div>
        </div>
       <section id="content" class="no-padding shasho">
            <div class="container container-level">
                <div id="main" class="md-section">
                    <!-- level 1-->
                        <article class="detailed-logo">
                            <div class="urpsm-pos-level">
                                <span class="level-span"><span class="m-here-s">{% trans 'you are here'|capfirst %}</span></span>
                            </div>
                            <figure class="small-level">
                                <img src="{% static 'v2/images/1.png' %}" alt="level 1">
                            </figure>
                            <div class="details">
                                <h2 class="box-title align-c and-marg">{% trans 'level one'|capfirst %}<small>{% trans 'UPCOMING SELLER'|capfirst %}</small></h2>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">                                  
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans '30 days active on URPSM'|capfirst %}</li>
                                                <li>{% trans 'Able to unlock a minimum of 100 mobile phones'|capfirst %}</li>
                                                <li>{% trans 'Have a low bad rate'|capfirst %}</li>

                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans 'Get 100 positive reviews from your clients'|capfirst %}</li>
                                                <li>{% trans 'Complete at least 100 repaired phones'|capfirst %}</li>
                                                <li>{% trans 'First achievement must start by unlocking servers'|capfirst %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="load-more-d">. . . . . . . . . . . . . </div>
                                <div class="mile clearfix align-c">
                                    <span class="skin-color">{% trans 'what you should know :'|capfirst %}</span>
                                </div>
                                <p class="description align-c">{% trans "You've Just Gotten Started On URPSM And You're Dedicated To Increasing Sales. We'll Help You Get Started"|capfirst %} </p>
                            </div>
                            <div class="sess">
                                <div class="post-meta">
                                    <div class="align-c"><label>{% trans 'What you should achieve !'|capfirst %}</label></div>
                                    <div class="entry-action align-c">
                                        <a href="#" class="button entry-comment btn-small">
                                            <i class="soap-icon-insurance"></i>
                                            <span>+200 {% trans 'repaired'|capfirst %} </span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-conference"></i>
                                            <span>+200 {% trans 'satisfied clients'|capfirst %}</span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-settings-1"></i>
                                            <span>+200 {% trans 'unlocked'|capfirst %} </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                <!-- level 2-->
                        <article class="detailed-logo">
                            <!--<div class="urpsm-pos-level">
                                <span class="level-span"><span class="m-here-s">You are here</span></span>
                            </div>-->
                            <figure class="small-level">
                                <img src="{% static 'v2/images/2.png' %}" alt="level 2">
                            </figure>
                            <div class="details">
                                <h2 class="box-title align-c and-marg">{% trans 'level two'|capfirst %}<small>{% trans 'meduim'|capfirst %}</small></h2>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">                                  
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans '90 days active on URPSM'|capfirst %}</li>
                                                <li>{% trans 'Completed at least 200 unlocked phones'|capfirst %}</li>
                                                <li>{% trans 'Have a low bad rate'|capfirst %}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="circle">

                                                <li>{% trans 'Maintain a 3.5 star rating or above'|capfirst %}</li>
                                                <li>{% trans 'Complete at least 200 repaired phones'|capfirst %}</li>
                                                <li>{% trans 'unlock 10 phones by server at least'|capfirst %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="load-more-d">. . . . . . . . . . . . . </div>
                                <div class="mile clearfix align-c">
                                    <span class="skin-color">{% trans 'what you should know :'|capfirst %}</span>
                                </div>
                                <p class="description align-c">{% trans 'well you just start make good position in urpsm'|capfirst %}</p>
                            </div>
                            <div class="sess">
                                <div class="post-meta">
                                    <div class="align-c"><label>{% trans 'what you should achieve !'|capfirst %}</label></div>
                                    <div class="entry-action align-c">
                                        <a href="#" class="button entry-comment btn-small">
                                            <i class="soap-icon-insurance"></i>
                                            <span>+1000  {% trans 'repaired'|capfirst %}   </span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-conference"></i>
                                            <span>+300 {% trans 'satisfied clients'|capfirst %}</span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-settings-1"></i>
                                            <span>+1000 {% trans 'unlocked'|capfirst %} </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                <!-- level 3-->
                        <article class="detailed-logo">
                           <!-- <div class="urpsm-pos-level">
                                <span class="level-span"><span class="m-here-s">You are here</span></span>
                            </div>-->
                            <figure class="small-level">
                                <img src="{% static 'v2/images/3.png' %}" alt="level 3">
                            </figure>
                            <div class="details">
                                <h2 class="box-title align-c and-marg">{% trans 'level three'|capfirst %}<small>{% trans 'good'|capfirst %}</small></h2>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">                                  
                                        <div class="col-md-6">
                                            <ul class="circle">

                                                <li>{% trans 'Maintain a 4 star rating or above'|capfirst %}</li>
                                                <li>{% trans 'Complete at least 300 repaired phones'|capfirst %}</li>
                                                <li>{% trans 'unlock 30 phones by server at least'|capfirst %}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans '180 days active on URPSM'|capfirst %}</li>
                                                <li>{% trans 'Completed at least 300 unlocked phones'|capfirst %}</li>
                                                <li>{% trans 'Have a low cancelling orders'|capfirst %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="load-more-d">. . . . . . . . . . . . . </div>
                                <div class="mile clearfix align-c">
                                    <span class="skin-color">{% trans 'what you should know :'|capfirst %}</span>
                                </div>
                                <p class="description align-c">{% trans 'you are  doing a solid,great work keep it up'|capfirst %}</p>
                            </div>
                            <div class="sess">
                                <div class="post-meta">
                                    <div class="align-c"><label>{% trans 'What you should achieve !'|capfirst %}</label></div>
                                    <div class="entry-action align-c">
                                        <a href="#" class="button entry-comment btn-small">
                                            <i class="soap-icon-insurance"></i>
                                            <span>+5000 {% trans 'repaired'|capfirst %} </span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-conference"></i>
                                            <span>+2000 {% trans 'satisfied clients'|capfirst %}</span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-settings-1"></i>
                                            <span>+5000{% trans 'unlocked'|capfirst %}/span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                <!-- level 4-->
                        <article class="detailed-logo">
                            <!--<div class="urpsm-pos-level">
                                <span class="level-span"><span class="m-here-s">You are here</span></span>
                            </div>-->
                            <figure class="small-level">
                                <img src="{% static 'v2/images/4.png' %}" alt="level 1">
                            </figure>
                            <div class="details">
                                <h2 class="box-title align-c and-marg">{% trans 'level four'|capfirst %}<small>{% trans 'pro'|capfirst %}</small></h2>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">                                  
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans '365 days active on URPSM'|capfirst %}</li>
                                                <li>{% trans 'Completed at least 600 unlocked phones'|capfirst %}</li>
                                                <li>{% trans 'Have a low cancelling orders'|capfirst %}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>{% trans 'Maintain a 4.3 star rating or above'|capfirst %}</li>
                                                <li>{% trans 'Complete at least 600 repaired phones'|capfirst %}</li>
                                                <li>{% trans 'Unlock 80 phones by server at least'|capfirst %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="load-more-d">. . . . . . . . . . . . . </div>
                                <div class="mile clearfix align-c">
                                    <span class="skin-color">{% trans 'what you should know :'|capfirst %}</span>
                                </div>
                                <p class="description align-c">you are a real urpsm veteran</p>
                            </div>
                            <div class="sess">
                                <div class="post-meta">
                                    <div class="align-c"><label>{% trans '>What you should achieve !<'|capfirst %}</label></div>
                                    <div class="entry-action align-c">
                                        <a href="#" class="button entry-comment btn-small">
                                            <i class="soap-icon-insurance"></i>
                                            <span>+8000 {% trans 'repaired'|capfirst %} </span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-conference"></i>
                                            <span>+4000 {% trans 'satisfied clients'|capfirst %}</span>
                                        </a>
                                        <a href="#" class="button btn-small">
                                            <i class="soap-icon-settings-1"></i>
                                            <span>+8000 {% trans 'unlocked'|capfirst %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                <!-- level 5-->
                        <article class="detailed-logo">
                            <!--<div class="urpsm-pos-level">
                                <span class="level-span"><span class="m-here-s">You are here</span></span>
                            </div>-->
                            <figure class="small-level">
                                <img src="{% static 'v2/images/5.png' %}" alt="level 5">
                            </figure>
                            <div class="details">
                                <h2 class="box-title align-c and-marg">{% trans 'level five'|capfirst %}<small>{% trans 'master'|capfirst %}</small></h2>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">                                  
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>
                                                     {% trans '731 days active on URPSM'|capfirst %}
                                                </li>
                                                <li>
                                                     {% trans 'Completed at least 2500 unlocked phones'|capfirst %}
                                                </li>
                                                <li>
                                                     {% trans 'Have a low cancelling orders'|capfirst %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="circle">
                                                <li>
                                                    {% trans 'Maintain a 4.7 star rating or above'|capfirst %}
                                                </li>
                                                <li>
                                                     {% trans 'Complete at least 2500 repaired phones'|capfirst %}
                                                </li>
                                                <li>
                                                     {% trans 'unlock 300 phones by server at least.'|capfirst %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="load-more-d">. . . . . . . . . . . . . </div>
                                <div class="mile clearfix align-c">
                                    <span class="skin-color">{% trans 'what you should know :'|capfirst %}</span>
                                </div>
                                <p class="description align-c">{% trans 'You are a Master king.'|capfirst %}</p>
                            </div>
                            <div class="sess">

                            </div>
                        </article>
                </div>
            </div>
        </section>
        {%endblock main_page %}
    {% block js %}
<script type="text/javascript" src="{% static 'v2/js/jquery.noconflict.js' %}"></script>
    {% endblock js %}