{% extends "urpsm/v2/auth_v2.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}
{% block heading %} Password Change{% endblock %}
{% block subheading %} Change your password {% endblock %}

{% block breadcrumb %} <li class="active">{% trans 'change password'|capfirst %}</li> {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<h3 class="box-title">{% trans 'password change'|capfirst %}</h3>
	</div>

	<form action="" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<div class="box-body">
			<div class="form-group">
				{{ form.old_password }}
        {% if form.old_password.errors %}
            {{ form.old_password.errors }}
        {% endif %}
			</div>

			<div class="form-group">
				{{ form.new_password1 }}
        {% if form.new_password1.errors %}
            {{ form.new_password1.errors }}
        {% endif %}
			</div>

			<div class="form-group">
				{{ form.new_password2 }}
        {% if form.new_password2.errors %}
            {{ form.new_password2.errors }}
        {% endif %}
			</div>

		</div>
		<div class="box-footer">
			<input class="btn btn-primary" type="submit" value="{% trans 'Change Password' %}" />
		</div>
	</form>
</div>
{% endblock %}