{% extends "urpsm/v2/base_manager_v2.html" %}
{% load thumbnail %}
{% block extrastyle %}
	<style>
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}	    	
	</style>    
{% endblock extrastyle %}
{% block title %} {{ request.user.profile.shop.city }} - {% trans 'shops list'|capfirst %} {% endblock %}
{% block breadcrumb %}
<li class="active">{% trans 'shops'|capfirst %}</li>
{% endblock %}


{% block content %}
	<div class="row">
        <div class="col-md-12">
                    <form action="{% url 'shop-search' %}" method="get">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" name="q" class="form-control input-lg" placeholder="{% trans 'search shops ...'|capfirst %}" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
                    </form>
        </div>
	</div>
<br>
<div class="row">
        {% for shop in shops %}
	   <div class="col-md-2">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title"><a href="{% url 'shop-detail' shop.slug %}">{{ shop.name }}</a></h3>
				</div>
				<div class="box-body no-padding" style="height: 113px;">
					<img style="height: 113px;" class="img-responsive" src="{{ shop.logo|thumbnail_url:'large' }}" alt="{{ shop.name }}">
				</div>
				<div class="box-footer no">
					<ul class="nav nav-pills nav-stacked">
						<li><i class="fa fa-th"></i>
						<span class="pull-right text-black"><span class="badge">{{ shop.components }}</span></span>
						</li>
					</ul>
				</div>
			</div>
	   </div>
        {% endfor %}
</div>
{% endblock %}