{% extends "urpsm/v2/base_manager_v2.html" %} 
{% load thumbnail i18n %} 
{% block title %} {{ request.user.profile.shop.city }} - Shops list {% endblock %} 
{% block extrastyle %}
	<style>
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}	    	
	</style>    
{% endblock extrastyle %}
{% block breadcrumb %}

<li><a href="{% url 'shop' %}">{% trans 'shops'|capfirst %}</a></li>

{% endblock %} {% block content %}
	<div class="row">
        <div class="col-md-12">
                    <form action="{% url 'shop-search' %}" method="get">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" name="q" class="form-control input-lg" placeholder="{% trans 'search shops ...'|capfirst %}" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
                    </form>
        </div>
	</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% for component in components %}
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header"><a href="{% url 'shop-component-detail' component.shop.slug component.slug %}">{{ component.title }}</a></div>
                    <div class="box-body no-padding">
                        <img src="{{ component.image|thumbnail_url:'medium' }}" alt="{{ component.title }}" class="img-responsive">
                    </div>
                    <div class="box-footer text-right">
                        <span class="label label-info"><i class="fa fa-tag"></i> {{ component.price }}  {{ component.currency }}</span>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col-md-12">
                    <p> <b> <i class="fa fa-search text-blue"></i> &nbsp;{% trans 'no products found which match your search.'|capfirst %}</b> </p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if components.has_previous %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}page={{ components.previous_page_number }}" title="{% trans 'Previous' %}">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    {% if components.paginator.has_next  %}
	                    <li>
	                        <span class="current">{% trans 'Page' %} {{ components.number }} {% trans 'of' %} {{ components.paginator.num_pages }}</span>
	                    </li>
                    	
                    {% endif %}
                    {% if components.has_next %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}page={{ components.next_page_number }}" title="{% trans 'Next' %}">{% trans 'Next' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}