{% extends "urpsm/v2/auth_v2.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<p class="login-box-msg">{% trans 'Password reset' %}</p>
<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	<div class="form-group has-feedback">
		{{ form.email }}
				{% if form.email.errors %}
					{{ form.email.errors }}
				{% endif %}
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>
	<div class="row">
		<div class="col-xs-4 pull-right">
			<button type="submit" class="btn btn-primary btn-flat pull-right">{% trans 'Reset my password' %}</button>
		</div>
		<!-- /.col -->
	</div>
</form>
{% endblock %}

{% block content-related %}
<br> <br>
<p>
	{% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.
</p>
<a href="{% url 'login' %}" class="text-center">{% trans 'Login' %}</a>
{% endblock %}