{% extends "urpsm/v2/base_manager_v2.html" %} {% load thumbnail i18n %} {% block title %} {{ request.user.profile.server.city }} - {% trans 'servers list'|capfirst %} {% endblock %} {% block breadcrumb %}
<li><a href="{% url 'servers' %}">{% trans 'servers'|capfirst %}</a></li>
<li class="active">{{ server.name }}</li>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="info-box">
            <span class="info-box-icon" style="background: white;">
				<img src="{{ server.logo|thumbnail_url:'thumbnail'}}" alt="">
			</span>
            <div class="info-box-content">
                <div class="info-box-text">
                    <h4>{{ server.name }}</h4></div>
                <p>{{ server.description|safe }}</p>
                <ul class="nav nav-pills">
                    <li>
                        <a href="#"><i class="fa fa-map-marker text-red"></i> {{ server.country.name }} - {{ server.city}}</a>
                    </li>
                    {% if server.website %}
                        <li>
                            <a href="{{ server.website }}"><i class="fa fa-link"></i></a>
                        </li>
                    {% endif %}                    
                    {% if server.facebook %}
                        <li>
                            <a href="{{ server.facebook }}"><i class="fa fa-facebook"></i></a>
                        </li>
                    {% endif %}
                    {% if server.twittter %}
                        <li>
                            <a href="{{ server.twittter }}"><i class="fa fa-twittter"></i></a>
                        </li>
                    {% endif %}
                    {% if server.google_plus %}
                        <li>
                            <a href="{{ server.google_plus }}"><i class="fa fa-google-plus"></i></a>
                        </li>
                    {% endif %}                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% for component in components %}
            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-header"><a href="{% url 'server-component-detail' server.slug component.slug %}">{{ component.title }}</a></div>
                    <div class="box-body no-padding">
                        <img src="{{ component.image|thumbnail_url:'medium' }}" alt="{{ component.title }}" class="img-responsive">
                    </div>
                    <div class="box-footer text-right">
                        <span class="label label-info"><i class="fa fa-tag"></i> {{ component.price }}  {{ component.currency }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if components.has_previous %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}page={{ components.previous_page_number }}" title="{% trans 'Previous' %}">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    {% if components.paginator.has_next  %}
	                    <li>
	                        <span class="current">{% trans 'Page' %} {{ components.number }} {% trans 'of' %} {{ components.paginator.num_pages }}</span>
	                    </li>
                    	
                    {% endif %}
                    {% if components.has_next %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}page={{ components.next_page_number }}" title="{% trans 'Next' %}">{% trans 'Next' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-body no-padding">
                <div id="location" class="no-padding" style="height:300px; width:100%"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extrajs %}
<script src="//maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script>
jQuery(document).ready(function($) {
    var map;
    var coords = "{{ server.location }}";
    if (coords) {
        coords = coords.split(',');
        map = new google.maps.Map(document.getElementById('location'), {
            center: {
                lat: parseFloat(coords[0]),
                lng: parseFloat(coords[1])
            },
            zoom: 13
        });

        var marker = new google.maps.Marker({
            position: {
                lat: parseFloat(coords[0]),
                lng: parseFloat(coords[1])
            },
        });

        var infowindow = new google.maps.InfoWindow({
            content: "<img src={{server.logo|thumbnail_url:'small'}}>&nbsp;&nbsp;{{ server.address }}"
        })

        infowindow.open(map, marker);

        marker.setMap(map);

    }

});
</script>
{% endblock %}
